<div class="container my-div">
    <div class="row">
        <div class="col-sm-3">Naslov:</div>
    </div>
    <div class="row">
        <div class="col-sm-9">{{experience?.title}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Tekst:</div>
    </div>
    <div class="row">
        <div class="col-sm-9">{{experience?.text}}</div>
    </div>
    <div class="row">
        <p class="mt-2">Komentari</p>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <td>Autor</td>
                <td>Komentar</td>
            </thead>
            <tbody>
                <tr *ngFor="let comment of comments">
                    <td>{{comment.user.username}}</td>
                    <td>{{comment.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <input type="text" [(ngModel)]="commentText">
        <button class="btn btn-primary btn-lg ml-2" (click)="save()">Komentariši</button>
    </div>
</div>