<!--<app-home></app-home>-->
<!--<ngx-headroom duration="500" easing="ease-in-out">
    <app-header (changed)="onChanged($event)" id="navbar" (registrateChanged)="onRegistrateChanged($event)" [isRegistrateClicked]="isRegistrateClicked"></app-header>
</ngx-headroom>-->

<div *ngIf="authorized" class="row">
    <div class="col-2">
        <app-header></app-header>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>
<div>
    <app-home *ngIf="!authorized"></app-home>
</div>