<div class="form-check">
    <div class="row">
        <h2>Sortiraj</h2>
    </div>
    <div class="row">
        <ul style="list-style-type:none;" class="sort-list">
            <li>
                <input class="form-check-input checkbox-item big-checkbox" name="sort" type="radio" value="0" id="nameSort" (click)="onChecked($event)">
                <label class="form-check-label big-checkbox-label">Name</label>
            </li>
            <li>
                <input class="form-check-input checkbox-item big-checkbox" name="sort" type="radio" value="1" id="priceSort" (click)="onChecked($event)">
                <label class="form-check-label big-checkbox-label">Price</label>
            </li>
        </ul>
    </div>

    <div class="row">
        <h2>Država</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <select class="btn btn-primary" [(ngModel)]="selectedCountry" (change)="countryChanged()">
                <option class="dropdown-item" value="Sve" selected>Sve</option>
                <option class="dropdown-item" *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
              </select>
        </div>
    </div>
    <app-price-slider></app-price-slider>
</div>