<h1>Registruj se</h1>
<table>
    <tr>
        <th>
            <h4>Ime i prezime:</h4>
        </th>
        <th class="input-column"><input type="text" [(ngModel)]="name"></th>
    </tr>
   
    <tr>
        <th>
            <h4>E-mail adresa:</h4>
        </th>
        <th class="input-column"><input type="text" [(ngModel)]="email"></th>
    </tr>
    <tr>
        <th>
            <h4>Korisničko ime:</h4>
        </th>
        <th class="input-column"><input type="text" [(ngModel)]="username"></th>
    </tr>
    <tr>
        <th>
            <h4>Lozinka:</h4>
        </th>
        <th class="input-column"><input type="password" [(ngModel)]="password"></th>
    </tr>
    <tr>
        <th>
        </th>
        <th class="input-column"><button type="button" class="btn btn-primary btn-lg reg-button" (click)="onRegister($event)" >Sign Up</button></th>
    </tr>
</table>