<button type="button" class="btn btn-primary btn-lg reg-button apartment-list" [routerLink]="['/saveapartment']">Dodaj novi oglas</button>
<div class="row">
    <div class="col-sm-6 col-md-3 full-flex" *ngFor="let apartment of filteredApartments">
        <div class="card mb-3">
            <div class="card-body">
                <img *ngIf="apartment.image; else defaultImg" class="card-img-top img-responsive full-height" src="../../../../assets/images/apartment.png">
                <ng-template #defaultImg>
                    <img class="card-img-top img-responsive full-height" src="../../../../assets/images/apartment.png">
                </ng-template>
                <hr>
                <h4 class="card-title "><b>{{ apartment.title }}</b></h4>
                <p class="card-text ">{{ apartment.description }}</p>
                <div class="row ">
                    <div class="col-9 ">
                        <p class="card-text ">{{ apartment.location.city }}, {{ apartment.location.country }}</p>
                    </div>
                    <div class="col-3 ">
                        <p class="card-text "><b>{{ apartment.price }} €</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>