<div class="container">

  <table class="form-check">
    <tr>
      <th>
        <h4>Naslov:</h4>
      </th>
      <th class="input-column"><input type="text" [(ngModel)]="title"></th>
    </tr>
    <tr>
      <th>
        <h4>Adresa:</h4>
      </th>
      <th class="input-column"><input type="text" [(ngModel)]="address"></th>
    </tr>
    <tr>
      <th>
        <h4>Grad:</h4>
      </th>
      <th class="input-column"><input type="text" [(ngModel)]="city"></th>
    </tr>
    <tr>
      <th>
        <h4>Objavio:</h4>
      </th>
      <th class="input-column">Maid Bajramović</th>
    </tr>
    <tr>
      <th>
        <h4>Cijena:</h4>
      </th>
      <th class="input-column"><input type="text" [(ngModel)]="price"></th>
    </tr>
    <tr>
      <th>
        <h4>Opis:</h4>
      </th>
      <th class="input-column"><input type="text" [(ngModel)]="description"></th>
    </tr>
    <tr>
      <th>
      </th>
      <th class="input-column"><button type="button" class="btn btn-primary btn-lg reg-button" (click)="onSaveClicked()">Spremi oglas</button></th>
    </tr>
  </table>
</div>