<div class="sidenav">
    <app-filters></app-filters>
</div>
<nav class="navbar fixed-top navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand" href="#">Student Info Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/scholarships']">Stipendije</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/apartments']">Smještaj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/experiences']">Iskustva</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (change)="onSearchChanged($event)">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>