<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container">
    <nav class="navbar navbar-default bg-light navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h1>Welcome to Student Info.</h1>
          </a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="account" (click)="onSignUpClicked()"><i class="far fa-user"></i>Sign Up</a></li>
          <li class="list-inline-item account">/</li>
          <li class="list-inline-item"><a href="#" class="account" (click)="onLoginClicked()"><span class="glyphicon glyphicon-log-in account"></span>Login</a></li>
        </ul>
      </div>
    </nav>
</div>